@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Light.woff2') format('woff2'),
  url('../fonts/Helvetica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica Condensed Rg';
  src: url('../fonts/CoolveticaCondensedRg-Regular.woff2') format('woff2'),
  url('../fonts/CoolveticaCondensedRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica Rg';
  src: url('../fonts/CoolveticaRg-Regular.woff2') format('woff2'),
  url('../fonts/CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}