.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(41.599998474121094px);

  &__close-cross {
    @include flex-center;
    position: absolute;
    right: 40px;
    top: 40px;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid transparent;

    &:hover {
      svg path {
        stroke: $accent;
      }
    }

    &:focus {
      border-color: $accent;

      svg path {
        stroke: $white;
      }
    }
  }

  &__img {
    margin: 0 auto 35px;
  }

  &__content {
    max-width: 680px;
    width: 100%;
  }

  &__form {
    border-radius: 20px;
    background-color: $black;
    padding: 40px 60px 0;
  }

  &__list {
    @include flex-column(26);
  }

  &__close {
    position: absolute;
    bottom: 80px;
    left: 80px;
    z-index: 10;
    font-size: 18px;
    padding-bottom: 4px;
    color: $white;
    margin-bottom: -4px;
    border-bottom: 1px solid $white100;
    transition: color .4s, border .4s;

    &:hover {
      color: $accent;
    }
  }
}