.title-section {
  @include flex-align-center(30);
  font-size: 80px;
  line-height: 1.1;
  margin-bottom: 36px;
  font-weight: 400;
  text-transform: uppercase;

  &::after {
    display: flex;
    content: "";
    background-image: url("../images/icons/arrow-left.svg");
    width: 56px;
    height: 19px;
  }

  &--small {
    font-size: 60px;
  }

  span {
    color: $accent;
    margin-right: -13px;
  }
}