.about {
  &.indent {
    padding-bottom: 65px;
    border-bottom: 1px solid rgba($white, .35);
    margin-bottom: 65px;
  }

  &.indent-last {
    margin-bottom: 120px;
  }

  &__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }

  &__column {
    @include flex-column(19);
    font-size: 20px;
    line-height: 1.4;

    &.small {
      font-size: 18px;
    }

    p span {
      position: relative;
      &::before {
        @include pseudo;
        @include topLeft50;
        width: 107%;
        height: 3px;
        background-color: $accent;
      }
    }
  }

  &__link {
    @include flex-center;
    max-width: max-content;
    transition: background-color .4s, color .4s, border .4s;
    color: $accent;
    border: 1px solid $accent;
    border-radius: 35px;
    font-size: 18px;
    padding: 11px 38px;
    margin-top: 30px;
    line-height: 1;

    &.hovered {
      &:hover {
        color: $white;
        border-color: $white;
      }

      &:focus {
        background-color: $accent;
        border-color: transparent;
        color: $white;
      }
    }
  }
}