.paper {
  &.indent {
    @include r($tablet) {
      margin-bottom: 70px;
    }
    @include r($phone) {
      margin-bottom: 45px;
    }
  }

  &__inner {
    display: flex;
    gap: 38px;
    @media (max-width: 860px) {
      flex-direction: column;
    }
    @include r($sm) {
      gap: 28px;
    }
  }

  &__left {
    min-width: 200px;
    max-width: 200px;
    width: 100%;
    @media (max-width: 860px) {
      max-width: 100%;
      min-width: 100%;
    }

    &-info {
      @media (max-width: 860px) {
        display: none;
      }

      &.mobile {
        display: none;
        @media (max-width: 860px) {
          display: block;
          margin-top: 50px;
        }
        @include r($sm) {
          margin-top: 60px;
        }
      }
    }
  }

  &__back {
    display: flex;
    margin-bottom: 42px;
    line-height: 1.1;
    font-family: $helvetica;
    font-size: 18px;
    border-radius: 3px;
    max-width: max-content;
    transition: color .4s, outline .4s;
    @media (max-width: 860px) {
      margin-bottom: 0;
    }
    @include r($sm) {
      font-size: 17px;
    }
    @include r($phone) {
      font-size: 16px;
    }

    &:hover {
      color: $accent;
    }

    &:focus {
      outline: 1px solid #ff25a0;
      color: $white;
      outline-offset: 4px;
    }
  }

  &__next {
    color: $accent;
    font-size: 18px;
    margin-bottom: 16px;
    letter-spacing: .4px;
    text-transform: uppercase;
    @media (max-width: 860px) {
      margin-bottom: 12px;
    }
  }

  &__bottom {
    background-color: #161616;
    display: flex;
    padding: 14px;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: outline .4s;
    @media (max-width: 860px) {
      margin-bottom: 28px;
    }

    &:hover {
      .paper__influence {
        color: $accent;
      }
    }

    &:focus {
      outline: 1px solid #ff25a0;
      outline-offset: 6px;

      .paper__influence {
        color: $white;
      }
    }
  }

  &__more {
    font-family: $helvetica;
    font-size: 18px;
    display: flex;
    max-width: max-content;
    border-radius: 4px;
    transition: color .4s, outline .4s;
    @media (max-width: 860px) {
      margin-bottom: 0;
    }
    @include r($tablet) {
      font-size: 17px;
    }
    @include r($sm) {
      font-size: 16px;
    }

    &:hover {
      color: $accent;
    }

    &:focus {
      outline: 1px solid #ff25a0;
      color: $white;
      outline-offset: 4px;
    }
  }

  &__influence {
    margin-bottom: 28px;
    line-height: 1.3;
    transition: color .4s, outline .4s;
    @include r($lg) {
      font-size: 18px;
    }

    svg {
      vertical-align: middle;
      line-height: 1;
      margin-left: 3px;
      @media (max-width: 992px) {
        width: 29px;
        height: auto;
      }
      @include r($sm) {
        transform: translateY(-1px);
      }
    }
  }

  &__soauthor {
    font-family: $helvetica;
    font-size: 17px;
    color: rgba($white, .7);
    @include r($lg) {
      font-size: 16px;
    }
  }

  &__content {
    width: 100%;
  }

  &__top {
    @include bg;
    border-radius: 14px 14px 0 0;
    width: 100%;
    padding: 14px 24px;
    min-height: 320px;
    margin-bottom: 16px;
    @include r($desktop) {
      min-height: 300px;
    }
    @media (max-width: 1100px) {
      min-height: 270px;
    }
    @include r($phone) {
      min-height: 240px;
    }
  }

  &__short-description {
    max-width: 370px;
    line-height: 1.2;
    @include r($lg) {
      font-size: 18px;
      max-width: 340px;
    }
  }

  &__info {
    @include flex-between-center-gap(18);
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 1.2;
    font-family: $helvetica;
    margin-bottom: 45px;
    @include r($desktop) {
      font-size: 17px;
    }
    @media (max-width: 920px) {
      font-size: 16px;
    }
    @media (max-width: 550px) {
      font-size: 15px;
    }
    @include r($phone) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 20px;
    @media (max-width: 1300px) {
      font-size: 44px;
    }
    @media (max-width: 1100px) {
      font-size: 40px;
    }
    @include r($lg) {
      font-size: 38px;
    }
    @media (max-width: 920px) {
      font-size: 36px;
    }
    @include r($tablet) {
      font-size: 32px;
      margin-bottom: 28px;
    }
    @include r($sm) {
      font-size: 30px;
    }
    @include r($phone) {
      font-size: 28px;
      line-height: 1.2;
    }
    @media (max-width: 410px) {
      font-size: 26px;
    }
  }

  &__wrapper {
    h3, p:not(:last-child), ul, ol {
      margin-bottom: 25px;
      @include r($lg) {
        margin-bottom: 20px;
      }
    }

    h2 {
      margin-bottom: 14px;
    }

    h1, h2, h4, h5, h6 {
      font-weight: 400;
      line-height: 1.2;

      strong {
        font-weight: 400;
      }
    }

    h3 {
      font-size: 28px;
      line-height: 1.2;
      font-weight: 400;
      font-family: $coolveticaRg;
      @include r($desktop) {
        font-size: 26px;
      }
      @include r($lg) {
        font-size: 24px;
      }
      @include r($tablet) {
        font-size: 22px;
      }
    }

    p {
      font-family: $helvetica;
      font-weight: 400;
      line-height: 1.35;
      font-size: 18px;
      color: rgba($white, .7);
      @include r($lg) {
        font-size: 17px;
      }
      @include r($sm) {
        font-size: 16px;
      }
      @media (max-width: 395px) {
        font-size: 15px;
      }

      strong {
        font-weight: 400;
      }
    }

    ul {
      @include flex-column(4);

      li {
        position: relative;
        padding-left: 25px;

        &::before {
          @include pseudo;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $accent;
        }

        strong {
          font-weight: 400;
        }
      }
    }

    ol {
      @include flex-column(4);
      list-style: none;
      counter-reset: list-counter;

      li {
        position: relative;
        padding-left: 30px;

        &::before {
          content: counter(list-counter) ".";
          counter-increment: list-counter;
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          font-size: 16px;
          line-height: 1;
          color: $accent;
        }

        strong {
          font-weight: 400;
        }
      }
    }

    a {
      color: $accent;
      border-radius: 2px;
      transition: color .4s, outline .4s;

      &:hover {
        color: $pink100;
      }

      &:focus {
        color: $accent;
        outline-offset: 3px;
        outline: 1px solid #ff25a0;
      }
    }
  }
}