.ltd-business {
  @include r($tablet) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    @include r($desktop) {
      padding: 0;
    }
  }

  &__logo, &__gif {
    margin-bottom: 80px;
    @media (max-width: 860px) {
      margin-bottom: 60px;
    }
  }

  &__logo {
    @include flex-align-center(0);
    justify-content: center;

    img {
      @include objectCoverBg;
      width: 300px;
      height: auto;
      @include r($desktop) {
        width: 270px;
      }
      @media (max-width: 1060px) {
        width: 240px;
      }
      @include r($lg) {
        width: 230px;
      }
      @media (max-width: 900px) {
        width: 220px;
      }
      @media (max-width: 700px) {
        width: 210px;
      }
      @media (max-width: 530px) {
        width: 180px;
      }
      @include r($phone) {
        width: 160px;
      }
    }
  }

  &__swiper {
    margin-bottom: 80px;

    @include r($desktop) {
      padding: 0 20px;
    }

    @include r($lg) {
      margin-bottom: 0;
    }

    .swiper-slide {
      box-sizing: border-box;

      @include r($desktop) {
        width: 320px;
      }
      @media (max-width: 1140px) {
        width: 310px;
      }
      @media (max-width: 700px) {
        width: 290px;
      }
      @include r($phone) {
        width: 270px;
      }
    }
  }

  &__link {
    @include flex-column(0);
    padding: 20px 15px;
    border-radius: 5px;
    border: 1px solid $white;
    overflow: hidden;
    position: relative;
    min-height: 380px;
    transition: color .4s, border .4s;
    @media (max-width: 900px) {
      min-height: 350px;
    }
    @media (max-width: 525px) {
      min-height: 360px;
    }

    &:hover {
      color: #FE0198;
      border-color: rgba($white, .6);

      svg {
        transform: translate(0, 2px);
      }
    }

    &:focus {
      border-color: #FE0198;
    }

    video {
      @include objectCoverBg;
      object-position: top;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__svg {
    margin-left: auto;
  }

  &__name, &__info {
    font-family: $coolveticaCondensedRg;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
  }

  &__name {
    margin-top: auto;
    margin-bottom: 15px;
    font-size: 30px;
  }

  &__info {
    font-size: 26px;
  }

  &__gif {
    display: none;
    @include r($lg) {
      display: block;
      width: 90px;
      height: auto;
      margin: 20px auto 30px;
    }
    @include r($sm) {
      width: 72px;
      margin: 15px auto 15px;
    }
  }

  &__bottom {
    @include flex-between-center-gap(30);
    align-items: flex-end;
    @include r($desktop) {
      padding: 0 20px;
    }
    @media (max-width: 920px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__inner {
    @include flex-align-center(12);
    @media (max-width: 920px) {
      @include flex-column(10);
      margin: 0 auto;
    }
    @media (max-width: 525px) {
      gap: 6px;
    }
  }

  &__subname {
    font-size: 22px;
    font-family: $coolveticaRg;
    text-transform: uppercase;
  }

  &__contacts {
    @include flex-column(10);
    @media (max-width: 920px) {
      display: none;
      gap: 8px;
    }

    &.mobile {
      display: none;
      @media (max-width: 920px) {
        display: flex;
        align-items: center;
      }
    }
  }

  &__contact {
    font-size: 22px;
    font-family: $coolveticaRg;
    text-transform: uppercase;
    max-width: max-content;
    border-bottom: 1px solid $white;
    @media (max-width: 920px) {
      text-transform: lowercase;
    }
    @media (max-width: 650px) {
      font-size: 20px;
    }

    span {
      color: #FE0198;
    }

    &-link {
      outline-offset: 2px;
      outline: 1px solid transparent;
      border-radius: 3px;
      transition: color .4s, border .4s, outline .4s;

      &:hover {
        color: #FE0198;
      }

      &:focus {
        outline-color: #FE0198;
      }
    }
  }

  &__text {
    max-width: 530px;
    width: 100%;
    text-align: right;
    font-size: 15px;
    color: rgba($white, .8);
    font-family: $helvetica;
    @include r($lg) {
      max-width: 490px;
    }
    @media (max-width: 920px) {
      display: none;
    }
    @media (max-width: 530px) {
      br {
        display: none;
      }
    }
  }
}