.main--height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.market {
  margin-top: 0;

  & > * {
    position: relative;
    z-index: 10;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 108px;
    letter-spacing: 2.2px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 60px;
    @media (max-width: 1300px) {
      font-size: 100px;
    }
    @include r($desktop) {
      font-size: 90px;
    }
    @include r($lg) {
      font-size: 80px;
    }
    @include r($tablet) {
      font-size: 72px;
    }
    @media (max-width: 680px) {
      font-size: 66px;
    }
    @include r($sm) {
      font-size: 62px;
    }
    @media (max-width: 530px) {
      font-size: 56px;
    }
    @include r($phone) {
      font-size: 52px;
      margin-bottom: 50px;
    }
    @media (max-width: 410px) {
      font-size: 48px;
    }
    @media (max-width: 380px) {
      font-size: 46px;
    }

    img {
      transform: translateY(-13px);
      margin-right: -4px;
      @media (max-width: 1300px) {
        width: 200px;
        height: auto;
      }
      @include r($desktop) {
        width: 180px;
      }
      @include r($lg) {
        width: 160px;
      }
      @include r($tablet) {
        width: 146px;
      }
      @media (max-width: 680px) {
        width: 134px;
        transform: translateY(-9px);
      }
      @include r($sm) {
        width: 120px;
      }
      @media (max-width: 530px) {
        width: 110px;
      }
      @include r($phone) {
        width: 100px;
      }
      @media (max-width: 410px) {
        width: 90px;
      }
      @media (max-width: 380px) {
        width: 86px;
      }
    }
  }

  &__text {
    font-size: 40px;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: $coolveticaCondensedRg;
    @include r($lg) {
      font-size: 38px;
    }
    @include r($tablet) {
      font-size: 36px;
    }
    @media (max-width: 660px) {
      max-width: 380px;
      line-height: 1.25;
      margin: 0 auto 30px;
    }
    @include r($phone) {
      font-size: 34px;
      max-width: 350px;
      margin-bottom: 24px;
    }

    span {
      color: $accent;
    }
  }

  &__socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 820px;
    margin: 0 auto;
    @media (max-width: 860px) {
      grid-gap: 14px;
    }
    @media (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
      max-width: 420px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    border-radius: 7px;
    border: 1px solid $white;
    padding: 19px 22px;
    text-transform: uppercase;
    font-family: $coolveticaCondensedRg;
    font-weight: 400;
    line-height: 1;
    transition: border .4s, background-color .4s, color .4s;

    &:hover {
      border-color: $accent;

      svg {
        transform: translate(3px, -3px);
      }

      svg path {
        stroke: $accent;
      }
    }

    &:focus {
      background-color: $accent;
      border-color: transparent;

      svg path {
        stroke: $white
      }
    }
  }

  &__name {
    font-size: 32px;
    @include r($phone) {
      font-size: 30px;
    }
  }

  &__job {
    font-size: 26px;
    @include r($phone) {
      font-size: 24px;
    }
  }

  &__arrow {
    position: absolute;
    right: 22px;
    top: 26px;
    @media (max-width: 860px) {
      width: 24px;
      height: auto;
      top: 24px;
    }
  }
}