<!DOCTYPE html>
<html class="html" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
      name="description"
      content="Партнёрская сеть Q3 Network — с 2023 года объединяем рекламодателей и вебмастеров в сфере Gambling & Betting. Высокие ставки, быстрая поддержка, честные выплаты."
  >
  <title>Q3 Network — партнёрская сеть в нише Gambling & Betting</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="icon" href="images/icons/favicon.svg" type="images/x-icon">
  <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="css/style.min.css">
</head>